*{

}
.App {
  
}
nav {
  position: fixed; /* Fix the navigation bar at the top */
  top: 0; /* Position it at the top of the viewport */
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 1000; /* Ensure it appears above other content */
 background-color: #ffffff;
}
.nav-mobile {
  display: none;
}
@media (max-width: 1041px) {
  #nav-contact-col {
    display: block;
  }
  .nav-call {
    display: none;
  }
}
@media (max-width: 991px) {
  #top-nav, #nav-call-div  {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  #nav {
    flex-direction: row-reverse;
  }
  .navbar {
    display: flex;
    flex-direction: column !important;
    align-items:flex-start !important;
    justify-content: flex-start !important;
    position: fixed;
    top: 90px;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: #2a3239;
    color: white;
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 20px;
    transition: 0.3s ease-in-out;
  }

  .navbar.active {
    left: 0px;
  }
}


