* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* This removes any vertical overflow */
  width: 100%;
  height: 100%;
}

.App {
  
}
button {
  width: 183.19px;
  height: 55px;
  font-family: Inter;
  font-weight: 600;
  line-height: 19.36px;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  background: #56bf2a;

  &:hover {
    opacity: 0.8;
  }
}

nav {
  position: sticky; /* Fix the navigation bar at the top */
  top: 0; /* Position it at the top of the viewport */
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 1000; /* Ensure it appears above other content */
 background-color: #ffffff;
}
.nav-mobile {
  display: none;
}
#nav-call-hidden {
  display: none;
}
.media-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
.image-item {
  width: 370px;
  height: 388px;
  overflow: hidden;
  margin-top: 20px;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-mobile-btn {
  display: none;
}
.containers {
 

  margin-right: 125px;
  margin-left: 125px;
  
}
.contains {
  margin-left: 125px !important;
}
.contain {
  margin-right: 125px !important;
}


@media (max-width: 1200px) {
 
 
  .project-img-div {
    width: 926px !important;
  }
  .event-block {
    flex-direction: column !important;
  }
  .event-div {
    max-width: 100% !important;
  }
  .event-block-2 {
    flex-direction: row;
    gap: 200px;
    margin-top: 70px;
  }
  .share-post {
    margin-top: 0px !important;
  }
  .publish {
    margin-top: 70px !important;
  }
  .media-grid {
    grid-template-columns: repeat(2, 1fr);
}
  .latest-1 {
    display: block;
  }
  .membership-div {
    margin-left: 70px !important;
  }
  .voice-div h2 {
    width: 100% !important;
    font-size: 30px !important;
  }
  .voice-div p {
    width: 100% !important;
  }
  .influence {
    width: 300px !important;
  }
  
  
  .member-img {
    width: 600px !important;
  }
  .containers {
    margin-right: 70px !important;
    margin-left: 70px !important;
  }
  .contains {
    margin-left: 70px !important;
  }
  .contain {
    margin-right: 70px !important;
  }
}
@media (max-width: 1041px) {
 
  .nav-btn {
    height: 55px;
    width: 140px !important;
  }
  .membership-div {
    margin-left: 40px !important;
  }
  .road-div-1 {
    margin-left: 10px !important;
  }
  .nav-call {
    display: none;
  }
  .footer-div-3, .footer-div-5 {
    width: 47% !important;
  }
}
@media (max-width: 992px) {
  .image-overlay {
   
  }
  .contact-block {
    flex-direction: column;
    gap: 100px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact-div {
    width: 100% !important;
  }
  .slide {
    min-width: 500px !important;
    height: 475px !important;
  }
  .event-image {
    width: 80% !important;
  }
  .membership {
    flex-direction: column-reverse;
    height: auto !important;
    align-items: flex-start !important;
    
  }
  .project-img-div {
    width: 740px !important;
  }
  
  .membership-img {
   
    height: 497px !important;
  }
  .membership-img img {
    object-fit: contain !important;
  }
  .about-btn {
    width: 200px !important;
  }
  .about-img-1 {
    width: 408px !important;
  }
  .about-img-2 {
    width: 190px !important;
  }
  .footer-block {
    flex-direction: column;
  }
  
  .testimonial-img-div {
    display: block;
    height: auto !important;
  
  }

  .road-img {
    width: 100% !important;
    
  }
  .road-div-1 p {
    width: 100% !important;
  }
  .road {
    height: auto !important;
    padding-bottom: 1px;
  }
  .road-div {
    flex-direction: column-reverse;
    align-items: flex-start !important;
  }
  .testimonial-img-p {
    margin: 20px;
    
  }
  .testimonial-img-p p {
    width: 100% !important;
    font-size: 18px !important;
  }
  .global-img {
    width: 150px !important;
    height: 50px !important;
  }
 
  .member-img {
    width: 100% !important;
  }
  .member-p {
    max-width: 90% !important;
  }
  .member-div-2 {
    flex-direction: column;
    height: auto !important;
  }
  .member-div {
    flex-direction: column-reverse;
    height: auto !important;
  }
  
  .btn-show {
    display: none;
    
  }

  .btn-hidden {
    display: flex !important;
    margin-top: 20px;
  }
  .voice {
    flex-direction: column;
    align-items: flex-start;
  }
  .voice-div > p {
    max-width:  100% !important;
  }
  .influence {
    width: 230px !important;
    height: 170px !important;
    gap: 10px !important;
  }
 
 .login-div {
  width: 100% !important;
 }
  .top-address {
    display: none;
  }
   #nav-call-div  {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
 
  #nav {
    flex-direction: row-reverse;
  }
  .extra-nav {
    margin-top: 100px !important;
  }
  .navbar {
    display: flex;
    flex-direction: column !important;
    align-items:flex-start !important;
    justify-content: flex-start !important;
    gap: 30px;
    position: fixed;
    top: 129px;
    left: -700px;
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    font-size: 20px;
    
    box-shadow: 0 40px 60px rgba(0,0,0,0.1);
    padding: 40px 0 0 60px;
    transition: 0.3s ease-in-out;
  }
  .navbar.active {
    left: 0px;
  }
  .nav-link-border {
    border-bottom: 1px solid #1122401F;
    width: 400px;
    padding-bottom: 10px;
  }
  #nav-call-hidden {
    display: flex;
  }
 

  .homecontent h1 {
    font-size: 55px !important;
  }
 
  .stats {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .footer-div-3, .footer-div-5 {
    width: 100% !important;
  }
  .containers {
    margin-right: 100px !important;
    margin-left: 100px !important;
  }
  .contains {
    margin-left: 100px !important;
  }
  .contain, .member-contain {
    margin-right: 100px !important;
  }
  .services-section {
    flex-direction: column;
   align-items: flex-start;
  }
  .image-section {
    flex-wrap: wrap;
  }
  .services-info {
    max-width: 700px !important;
  }
}
@media (max-width: 790px)  {
  .project-img-div {
    width: 640px !important;
    height: 450px !important;
  }
  .influence {
    width: 200px !important;
    height: 150px !important;
    gap: 10px !important;
  }
}

@media (max-width: 768px) {
  .logic-wrap {
    flex-wrap: wrap;
  }
  .logic-box-1 {
    width: 100% !important;
  }
  .event-block-2 {
    gap: 100px !important;
  }
  .media-grid {
    grid-template-columns: 1fr;
}
  .vission {
    height: auto !important;
  }
  .vission-div {
    display: block;
  }
  .mission {
    padding-top: 30px;
  }
  .vission-p {
    max-width: 500px;
  }
  .about-btn {
    margin-top: 60px;
    margin-bottom: -60px;
  }
  .about-img-1 {
    width: 358px !important;
  }
  .about-img-2 {
    width: 180px !important;
  }
  .testimonal-div {
    display: block;
  }

  .latest-2 {
    display: block;
  }
  .testy-p {
    width: 100% !important;
    margin-top: 10px;
  }
  .membership-div-2 {
    flex-direction: column;
  }
  .who-become {
    margin-left: -100px !important;
  }
  .global-img-div {
    display: block;
  }
  .homecontent {
    margin-left: -50px !important;
  }
  .text-content {
    display: block !important;
  }
  .text-content h2 {
    font-size: 20px !important;
  }
 
  .influence {
    width: 170px !important;
    height: 120px !important;
    gap: 5px !important;
    margin-left: -20px !important;
  }
  .membership-div {
    margin-left: 118px !important;
  }
  
}
@media (max-width: 678px) {
  .voice-img {
    height: 470px !important;
    width: 90% !important;
    
  }
  
  .containers {
    margin-right: 70px !important;
    margin-left: 70px !important;
  }
  .nav-link-border {
  
    width: 300px;
   
  }
  .project-img-div {
    width: 500px !important;
    height: 400px !important;
  }
  .membership-div {
    margin-left: 40px !important;
  }
  .about-img {
    flex-direction: column;
  }
  .about-img-3, .about-img-1  {
    width: 100% !important;
  }
  .about-img-2 {
    width: 49% !important;
  }
  .homecontent {
    margin-top: -100px !important;
  }
  .event-image {
    width: 100% !important;
  }
}
@media (max-width: 576px) {
#top-nav {
  margin-left: 0% !important;
}
  .contains {
    margin-left: 40px !important;
  }
  .contain {
    margin-right: 40px !important;
  }
  .containers {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .nav-link-border {
  
    width: 200px;
   
  }
  .slide {
    min-width: 420px !important;
    height: 445px !important;
  }
  .project-img-div {
    width: 450px !important;
    height: 350px !important;
  }
  .event-block-2 {
    gap: 50px !important;
  }
  .who-become {
    margin-left: 0px !important;
  }
  .vission-h2 {
    font-size: 40px !important;
  }
  .sideCard {
    left: 10px !important;
  }
  .sideCard-2 {
    right: -60px !important;
  }
  .voice-img {
    margin-right: 10px !important;
    width: 90% !important;
  }
  .img-voice-div  {
    margin-right: 20px !important;
  }
  .homecontent {
    margin-left: -90px !important;
  }
  .influence {
    width: 140px !important;
    height: 100px !important;
    gap: 5px !important;
    margin-left: -20px !important;
    font-size: 16px !important;
  }
  .D-1 {
    width: 38px !important;
    height: 38px !important;
  }
}
@media (max-width: 480px) {
  .join {
    width: 150px !important;
  }
  .image-overlay {
    width: 320px !important; /* Adjust width as needed */
    height: 421px;
  }
  .testi-img {
    width: 280px !important;
  }
  .navbar {
    width: 90% !important;
  }
  .nav-link-border {
  
    width: 100% !important;
   
  }
  .contact-input {
    width: 90% !important;
  }
  .slide {
    min-width: 370px !important;
    height: 415px !important;
  }
  .project-img-div {
    width: 350px !important;
    height: 350px !important;
  }
  .event-block-2 {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .share-post {
    margin-top: 30px !important;
  }
  .publish {
    margin-top: 10px !important;
  }
  .join-div-h2 {
    font-size: 40px !important;
  }
  .join-btn {
    flex-direction: column;

  }
  .sideCard-2 {
    right: 0px !important;
    bottom:  40px !important;
  }
  .stats h2 {
    font-size: 25px !important;
  }
 
  /* .logic-box-1 {
    width: 180px !important;
    height: 184px !important;
  } */
  .text-content {
    left: 5px !important;
   
  }
  .text-content h2 {
    font-size: 16px !important;
  }

  
  .homecontent h1 {
    font-size: 45px !important;
  }
  .btn {
    flex-direction: column;
    gap: 15px !important;
  }
  .influence {
    width: 110px !important;
    height: 100px !important;
    padding-left: 5px !important;
    gap: 5px !important;
    margin-left: -20px !important;
    font-size: 16px !important;
  }
  .road-div-1  {
    margin-left: -20px !important;
  }
  .road-div-1 p {
    max-width: 100% !important;
  }
  .road-div-1 h2 {
    max-width: 100% !important;
  }
  .footer-div-3 {
    flex-direction: column;
  }
  .membership-div {
    margin-left: 20px !important;
  }
  /* .D-1 {
    width: 20px !important;
    height: 20px !important;
  } */
}

@media (max-width: 400px) {
  .image-item {
    width: 320px;
    height: 368px;
    
  }
  .news-div {
    width: 320px !important;
  }
  .news-div-btn {
    width: 280px !important;
  }
  .voice-img {
    height: 470px !important;
    /* width: 370px !important; */
    
  }
  .sideCard {
    left: 30px !important;
    bottom: 40px !important;
  }
  .footer-1 {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 381px) {
  .slide {
    min-width: 310px !important;
    height: 395px !important;
  }
  .project-img-div {
    width: 300px !important;
    height: 320px !important;
  }
  .sideCard-2 {
    
    bottom:  100px !important;
  }
  .influence {
    gap: 0px !important;
    width: 100px !important;
  }
  .voice-img {
    height: 450px !important;
    /* width: 300px !important; */
  
  }
  .sideCard {
    left: 30px !important;
    bottom: 100px !important;
    width: 150px !important;
    height: 167px !important;
  }
}


